<!-- 'NEXT' BUTTON AND 'SUBMIT' BUTTONS -->
<% @questions.each do |question| %>
  <% if current_user.is_admin %>
  <!-- 'NEXT' BUTTON -->
  <!-- Form for NEXT button hits the controller route -->
    <%=form_for question, url: question_path(question), html: {method: "patch"}, remote: true, authenticity_token: true do |f|%>

    <!-- Hidden field conveying question id -->
    <div id="hidden-question-field">
      <input type="hidden" name="<%= question.id %>" value="hidden-thing">
    </div>

    <!-- The clickable button triggers the Action Cable 'Broadcast' -->

 <!--    <div class="next-button" id="button-<%= question.id %>"><input type="submit" value="next"></div> -->


    <div class="center">
      <div class="next-button" id="button-<%= question.id %>"><input type="submit" value="next" class="go"></div>
    </div>

    <% end %>


    <!-- Students results display button -->
    <%=form_for result, url: result_path(question), html: {method: "patch"}, remote: true, authenticity_token: true do |f|%>

    <!-- Hidden field conveying question id -->
    <div id="hidden-question-field-2">
      <input type="hidden" name="<%= question.id %>" value="hidden-thing">
    </div>

    <!-- The clickable button triggers the Action Cable 'Broadcast' -->
    <div class="center">
      <div class="show-results-buttons" id="show-result-button-<%= question.id %>"><input type="submit" value="show results" class="go"></div>
    </div>

    <% end %>

  <% else %>
  <!-- END NEXT BUTTON -->

    <!-- @question comes from games#show which gets from games#controller -->
  <div id="student-device-landscape">
    <!-- ANSWER BUTTONS - 'result' is a post route -->
    <div class="results-buttons" id="results-<%= question.id %>">
    <%=form_for result, remote: true, authenticity_token: true do |f|%>
    <!-- THESE MAY NOT HAVE LINE BREAKS -->
    <div class="answer-button-a"><input type="submit" name="<%= question.answers[0].id %>" value="a" style="float:left;"></div>
    <div class="answer-button-b"><input type="submit" name="<%= question.answers[1].id %>" value="b" style="float:left;"></div>
    <div class="answer-button-c"><input type="submit" name="<%= question.answers[2].id %>" value="c" style="float:left;"></div>
    <div class="answer-button-d"><input type="submit" name="<%= question.answers[3].id %>" value="d" style="float:left;"></div>
    <!-- HIDDEN FIELDS WITH IMPORTANT DATA -->
    <%=f.hidden_field :user_id, value: current_user.id %>
    <%=f.hidden_field :question_id, value: question.id %>
    <% end %>
    </div>
  </div>

  <% end %>
<% end %>