<div class="form-screen">
  <% if current_user %>

  <h2><%= current_user.first_name %><br/><%= current_user.last_name %></h2>

  <table>
    <tr>
      <th>Role:</th>
      <td>    <% if current_user.is_admin == true%>Game Host
        <% else %>Player
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Username:</th>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= current_user.email %></td>
    </tr>
  </table>

  <hr>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <hr>

  <h3>Your Games</h3>

  <% if current_user %>
  <div>
    <% @games[0..1].each do |game| %>
    <p>
      <span class="game-id">#<%= game.id %></span>
      <%= link_to game.title[0..25] << '...', game_url(game) %><br>
      <% if current_user.is_admin == true %>
      <%= link_to "See Class Results", "/graph/students_private" %>
      <% end %>
      <span class="subject"><%= game.subject %></span>
    </p>
    <% end %>
  </div>
  <% end %>



  <% end %>

</div>
