<div class="form-screen">
<%= render partial: './logo' %>

  <% if current_user %>

  <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>

  <table>
    <tr>
      <th>Role:</th>
      <td>    <% if current_user.is_admin == true%>Game Host
        <% else %>Player
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Username:</th>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= current_user.email %></td>
    </tr>
  </table>

  <hr>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <hr>
  <h3>Your Results</h3>
  <% if current_user.is_admin == true %>
  <%= link_to "See Class Results", "/graph/students_private" %>
  <% end %>
  <hr>
  <h3>Your Games</h3>
  <% if current_user %>
  <div>
    <% @games[0..1].each do |game| %>
    <p id="game-row" class="clear-fix">
      <span class="game-id">#<%= game.id %></span>


      <%= link_to game.title[0..25] << '...', game_url(game) %>
      <span class="subject"><%= game.subject[0..12] %></span>

    </p>
    <% end %>
  </div>
  <% end %>



  <% end %>

</div>
