<!-- when user clicks a button -->
<script>
function myFunction() {
    var a = $("#answer-buttons-a").html();
    var b = $("#answer-buttons-b").html();
    var c = $("#answer-buttons-c").html();
    var d = $("#answer-buttons-d").html();
    console.log(a)
    $(".answer-button-a input").attr("name", 'a');
    $(".answer-button-b input").attr("name", 'b');
    $(".answer-button-c input").attr("name", 'c');
    $(".answer-button-d input").attr("name", 'd');
}
</script>

<!-- OLD FASHIONED FORM -->
<form action="/results" method="POST">
</form>


<!-- RAILS FORM -->
<%=form_for result, remote: true, authenticity_token: true do |f|%>
  <div class="answer-button-a"><input type="submit" name="" value=""></div>
  <div class="answer-button-b"><input type="submit" name="" value=""></div>
  <div class="answer-button-c"><input type="submit" name="" value=""></div>
  <div class="answer-button-d"><input type="submit" name="" value=""></div>
  <input type="hidden" name="result[user_id]" value="<%= current_user.id %>"></div>
  <input type="hidden" name="result[question_id]" value="<%= @question.id %>"></div>
<!-- < %= f.label :your_result%>:
     < %= f.text_area :content, class: "form-control", data: {textarea: "result"}%> -->

  <%=f.hidden_field :user_id, value: current_user.id %>
  <%=f.hidden_field :question_id, value: @question.id %>


  <div class="answer-button">< %= f.submit "A", class: "btn btn-primary", data: {send: "result"} %></div>
  <div class="answer-button">< %= f.submit "B", class: "btn btn-primary", data: {send: "result"} %></div>
  <div class="answer-button">< %= f.submit "C", class: "btn btn-primary", data: {send: "result"} %></div>
  <div class="answer-button">< %= f.submit "D", class: "btn btn-primary", data: {send: "result"} %></div>
<%end%>
