<!-- when user clicks a button -->
<script>
function getId() {
    var a = $("#answer-buttons-a").html();
    var b = $("#answer-buttons-b").html();
    var c = $("#answer-buttons-c").html();
    var d = $("#answer-buttons-d").html();
    // assigns the correct answer IDs
    $(".answer-button-a input").attr("name", a);
    $(".answer-button-b input").attr("name", b);
    $(".answer-button-c input").attr("name", c);
    $(".answer-button-d input").attr("name", d);
}
</script>

<!-- RAILS FORM -->
<%=form_for result, remote: true, authenticity_token: true do |f|%>

  <table class="table-quiz-display">
  <tr>
    <td class="quiz-display one">
      <div onclick='getId()' class="answer-button-a"><input type="submit" class="game-a" name="" value="a"></div>
    </td>
    <td class="quiz-display two">
      <div onclick='getId()' class="answer-button-b"><input type="submit" class="game-b" name="" value="b"></div>
    </td>
  </tr>
  <tr>
    <td class="quiz-display three">
      <div onclick='getId()' class="answer-button-c"><input type="submit" class="game-c" name="" value="c"></div>
    </td>
    <td class="quiz-display four">
      <div onclick='getId()' class="answer-button-d"><input type="submit" class="game-d" name="" value="d"></div>
    </td>
  </tr>
  </table>  

  <input type="hidden" name="result[user_id]" value="<%= current_user.id %>"></div>
  <input type="hidden" name="result[question_id]" value="<%= @question.id %>"></div>

  <%=f.hidden_field :user_id, value: current_user.id %>
  <%=f.hidden_field :question_id, value: @question.id %>

<%end%>
