<%= link_to "Home", games_path %>

<h1>GAME THE PROGRESS</h1>

<div class="row col-md-8 col-md-offset-2">
  <h2><%= @game.title %></h2>
  <h3><%= @question.text %></h3>

<div class="panel panel-default">
  <h5><% if @question.results.any? %></h5>
    <div class="panel-body" id="results">
      <h5><%= render partial: 'results/result', collection: @question.results%></h5>
    </div>
  <%else%>
    <div class="panel-body hidden" id="results">
    </div>
  <%end%>
</div>


  <h3><%= render partial: 'results/result_form', locals: {result: @result, game: @game}%></h3>
</div>
