<div id="games" data-game=<%= @game.id %> >
  <!-- GAME TITLE -->
  <h1><%= @game.title %></h1>

  <!-- FLASH MESSAGES -->
  <!-- TODO: make it show on S.P.A. -->
  <div class="notice"></div>

  <!-- QUESTION TEXT -->
  <!-- renderQuestion holder / dynamically changing -->
  <div id='questions'><p><%= @question.id %>. <%= @question.text %></p></div>

  <%= render partial: 'questions/question', collection: @question %>


<% if current_user.is_admin %>
<!-- ANSWERS TEXT holder / dynamically changing -->

<div id="answers">
  <p id="a">A. <%= @question.answers[0].text %> <br> <span class="percent-results" id="percent-a"> </span> </p>
  <p id="b">B. <%= @question.answers[1].text %> <br> <span class="percent-results" id="percent-b"> </span> </p>
  <p id="c">C. <%= @question.answers[2].text %> <br> <span class="percent-results" id="percent-c"> </span> </p>
  <p id="d">D. <%= @question.answers[3].text %> <br> <span class="percent-results" id="percent-d"> </span> </p>
</div>

<% end %>

<!-- NEXT BUTTON & ANSWER BUTTONS -->
<%= render partial: 'questions/question_form', locals: {question: @question, result: @result} %>


<!-- End of game button -->
<div id="end-game-button"><%= link_to "Finished", results_path %></div>



<div id="progress-bar" class="progress-bar">
</div>

