<!-- FLASH MESSAGES -->

<!-- GAME TITLE -->
<h1><%= @game.title %></h1>

<!-- only shows on old page -->
<div class="notice"></div>

<!-- QUESTION TEXT -->
<hr>QUESTION:
<!-- renderQuestion -->
<div id='questions'><p><%= @question.text %></p></div>

<!-- <ol>
< % @questions.each do |question| %>
<li>< %= question.text %></li>
< % end %>
</ol> -->

<%= render partial: 'questions/question', collection: @question %>

<!-- ANSWERS TEXT -->
<hr>ANSWERS:
<div id="answers">
  <p><%= @question.answers[0].text%></p>
  <p><%= @question.answers[1].text%></p>
  <p><%= @question.answers[2].text%></p>
</div>

<!-- Invisible divs to store answer ids -->
<div id='answer-buttons-a' style="display:inline"></div>
<div id='answer-buttons-b' style="display:inline"></div>
<div id='answer-buttons-c' style="display:inline"></div>
<div id='answer-buttons-d' style="display:inline"></div>

<!-- This is an invisible div that stores the current question id: -->
<div id='current-question' style="display:inline">1</div>

<%= render partial: 'questions/question_form', locals: {question: @question} %>

<% if current_user.is_admin %>
<!-- NEXT BUTTON -->
<!-- RESULTS (IF ANY) -->
<hr>STUDENT RESPONSES:
<div>
  <% if @question.results.any? %>
  <div class="panel-body" id="results">
    <%= render partial: 'results/result', collection: @question.results %>
  </div>
  <%else%>
  <!-- This is the div that will hold the abcd answer buttons -->
  <div class="panel-body hidden" id="results"></div>
  <%end%>
</div>
<% else %>

<!-- ANSWER BUTTONS -->
<%= render partial: 'results/result_form', locals: {result: @result, game: @game}%>
<% end %>
