
<!-- GAME TITLE -->
<h4><%= @game.title %></h4>

<!-- FLASH MESSAGES -->
<!-- TODO: make it show on S.P.A. -->
<div class="notice"></div>

<!-- QUESTION TEXT -->
<!-- <hr>QUESTION: -->
<!-- renderQuestion holder / dynamically changing -->
<div id='questions'><p><%= @question.id %>. <%= @question.text %></p></div>

<%= render partial: 'questions/question', collection: @question %>



<% if current_user.is_admin %>
<!-- ANSWERS TEXT holder / dynamically changing -->
<!-- <hr>ANSWERS: -->
  <div id="answers">
    <p>A. <%= @question.answers[0].text%></p>
    <p>B. <%= @question.answers[1].text%></p>
    <p>C. <%= @question.answers[2].text%></p>
    <p>D. <%= @question.answers[3].text%></p>
  </div>

<% end %>

<!-- NEXT BUTTON & ANSWER BUTTONS -->
<%= render partial: 'questions/question_form', locals: {question: @question, result: @result} %>

<% if current_user.is_admin %>
<!-- RESULTS (IF ANY) -->
<!-- <hr>STUDENT RESPONSES: -->
<div>
  <% if @question.results.any? %>
  <div class="panel-body" id="results">
    <!-- %= render partial: 'results/result', collection: @question.results % -->
  </div>
  <% else %>
  <!-- This is the div that will hold the abcd answer buttons -->
  <!-- <div class="panel-body hidden" id="results"></div> -->
  <% end %>
</div>
<% end %>
