
  <%= render partial: './game-bar', locals: {game: @game, user: @current_user}  %>

<div id="games" data-game=<%= @game.id %> >
<div id="progress-bar" class="progress-bar">
</div>
  <!-- GAME TITLE -->
    <!-- <h4>< %= @game.title %></h4> -->
  <!-- FLASH MESSAGES -->
  <!-- TODO: make it show on S.P.A. -->
  <div class="notice"></div>

  <!-- QUESTION TEXT -->
  <!-- renderQuestion holder / dynamically changing -->
  <% if @question.id % 10 == 0 %>
    <div id='questions'><p>10. <%= @question.text %></p></div>
  <% else %>
    <div id='questions'><p><%= @question.id % 10 %>. <%= @question.text %></p></div>
  <% end %>

  <%= render partial: 'questions/question', collection: @question %>


<% if current_user.is_admin %>
<!-- ANSWERS TEXT holder / dynamically changing -->

<div id="answers">
  <p id="a">A. <%= @question.answers[0].text %> <br> <span class="percent-results" id="percent-a"> </span> </p>
  <p id="b">B. <%= @question.answers[1].text %> <br> <span class="percent-results" id="percent-b"> </span> </p>
  <p id="c">C. <%= @question.answers[2].text %> <br> <span class="percent-results" id="percent-c"> </span> </p>
  <p id="d">D. <%= @question.answers[3].text %> <br> <span class="percent-results" id="percent-d"> </span> </p>
</div>

<% end %>

<!-- NEXT BUTTON & ANSWER BUTTONS -->
<%= render partial: 'questions/question_form', locals: {question: @question, result: @result} %>


<% if current_user.is_admin %>

<!-- TIMER -->
  <script type="text/javascript">
    var start = 5
    var t, count;

    function timerDisplay() {
      document.getElementById('timespan').innerHTML = count;
    };

    function countdown() {
      timerDisplay();
      if (count == 0) {
        $("#timespan").html(":)")
      } else {
          count--;
          t = setTimeout("countdown()", 1000);
      }
    };

    function timerReset() {
      count = start;
      timerDisplay();
    };

  </script>
  <div id=timer-container>
  <div id="timespan">5</div>
  <input class="timer-button" type="button" value="Start" onclick="countdown()">
  <input class="timer-button" type="button" value="Reset" onclick="timerReset()">
  </div>

<!-- End of game button  -->
<% end %>




