<!DOCTYPE html>
<html>
  <head>
    <title>GameTheProgress</title>
    <script type="application/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">

    <% if current_user %>
      <% if current_user.is_admin == true %>
      <b>Game Host:</b>
      <% elsif current_user.is_admin != true %>
      <b>Player:</b>
      <%end%>
    <%= current_user.first_name %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
    <%= link_to "Games", games_path %>
    <%end%>

    <%= yield %>

  </div>
</body>
</html>
